@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Anton');

body{
	background-color: pink;
}
#slogan{
	font-family: Courier;
	color: yellow;
}
#motto{
	font-family: 'Noto Sans', sans-serif; 

}
#contact{
	font-family: 'Anton', sans-serif;
}
title{
	font-family: 'Maven Pro', sans-serif;

}